/* Basics */
html, body, main {
  font-size: 1vmin;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.toolbar, .gallery {
  background: #111;
  transition: all 500ms;
}
button {
  transition: all 500ms;
  appearance: none;
  background: none;
  border: none;
  margin: 0;
}

/* Icons und Buttons */
@font-face {
  font-family: 'icons';
  src: url('assets/font/font/icons.eot?2742526');
  src: url('assets/font/font/icons.eot?2742526#iefix') format('embedded-opentype'),
       url('assets/font/font/icons.woff?2742526') format('woff'),
       url('assets/font/font/icons.ttf?2742526') format('truetype'),
       url('assets/font/font/icons.svg?2742526#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
button span {
  font-size: 5.75rem;
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1em;
  color: #C0C0C0;
}
button:hover span {
  color: #FFF;
}
button.settings span:before { content: '\e800'; } /* Zahnrad */
button.effects span:before { content: '\e801'; }  /* Zauberey */
button.mode span:before { content: '\e804'; }     /* Aufnahmemodus */
button.flash span:before { content: '\e802'; }    /* Blitz */
button.camera span:before { content: '\e803'; }   /* Kamera-Wahl */
button.face span:before { content: '\e806'; }     /* Gesichtserkennung */
button.snap span:before { content: '\e805'; }     /* Foto machen! */
button.video span:before { content: '\e807'; }    /* Video aufnehmen */

/* Sonderfall Foto-Button */
button.snap {
  position: relative;
}
button.snap span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  right: 0.25em;
  bottom: 0.25em;
  border-radius: 1em;
  background: #222;
  border: 0.1em solid #333;
}


/* Katzenbilder */
.photo {
  background: url(assets/2.jpg) center center / cover no-repeat;
}
.gallery div {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0.1em solid #000;
  opacity: 0.65;
  transition: opacity 500ms;
}
.gallery div:hover {
  opacity: 1;
}
.gallery div:nth-child(1) { background-image: url(assets/1.jpg); }
.gallery div:nth-child(2) { background-image: url(assets/3.jpg); }
.gallery div:nth-child(3) { background-image: url(assets/4.jpg); }
.gallery div:nth-child(4) { background-image: url(assets/5.jpg); }
.gallery div:nth-child(5) { background-image: url(assets/6.jpg); }


/*
  Ab hier weiter machen!
  ======================
*/

/* Basis-Anordnung mit Flexbox */
main {
  display: flex;
}
.toolbar {
  flex: 160px 0 0;
}
.photo {
  flex: auto 1 1;
}
.gallery {
  flex: 15% 0 0;
  display: flex;
}

/* Buttons in den Toolbars */
.toolbar {
  display: flex;
  justify-content: space-between;
}
.toolbar button {
  flex: auto 1 1;
}
.toolbar button.snap {
  flex-grow: 3;
}

/* Bilder in der Galerie */
.gallery {
  padding: 0.5em;
}
.gallery div {
  flex-grow: 1;
  margin: 0.5em;
}


/* Querformat (Basis-Anordnung) */
main {
  flex-direction: row;
}
.toolbar, .gallery {
  flex-direction: column;
}

/* Hochformat */
@media all and (max-aspect-ratio: 1/1){
  main {
    flex-direction: column;
  }
  .toolbar, .gallery {
    flex-direction: row;
  }
}

/* Kleinere Toolbars bei wenig Platz */
@media all and (max-width: 800px), all and (max-height: 800px){
  .toolbar {
    flex-basis: 128px;
  }
  .gallery {
    flex-basis: 12%;
  }
}
@media all and (max-width: 600px), all and (max-height: 600px){
  .toolbar {
    flex-basis: 96px;
  }
  .gallery {
    flex-basis: 10%;
  }
}