
.icon-videocam:before { content: '\e807'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-camera:before { content: '\e803'; } /* '' */
.icon-camera-alt:before { content: '\e805'; } /* '' */
.icon-cog-alt:before { content: '\e800'; } /* '' */
.icon-flash:before { content: '\e802'; } /* '' */
.icon-magic:before { content: '\e801'; } /* '' */
.icon-smile:before { content: '\e806'; } /* '' */